/Exercicio1_Calculadora/dm110Calc-api/.settings
/Exercicio1_Calculadora/dm110Calc-api/bin
/Exercicio1_Calculadora/dm110Calc-api/build
/Exercicio1_Calculadora/dm110Calc-api/.classpath
/Exercicio1_Calculadora/dm110Calc-api/.project
/Exercicio1_Calculadora/dm110Calc-core/.settings
/Exercicio1_Calculadora/dm110Calc-core/bin
/Exercicio1_Calculadora/dm110Calc-core/build
/Exercicio1_Calculadora/dm110Calc-core/.classpath
/Exercicio1_Calculadora/dm110Calc-core/.project
/Exercicio1_Calculadora/dm110Calc-ear/.settings
/Exercicio1_Calculadora/dm110Calc-ear/build
/Exercicio1_Calculadora/dm110Calc-ear/.classpath
/Exercicio1_Calculadora/dm110Calc-ear/.project
/Exercicio1_Calculadora/dm110Calc-war/.settings
/Exercicio1_Calculadora/dm110Calc-war/bin
/Exercicio1_Calculadora/dm110Calc-war/build
/Exercicio1_Calculadora/dm110Calc-war/.classpath
/Exercicio1_Calculadora/dm110Calc-war/.project
/Exercicio1_Calculadora/.gradle


